In [1]:
import numpy as np
import pandas as pd

ModuleNotFoundError: No module named 'numpy'

In [ ]:
data_one = {'A': ['A0', 'A1', 'A2', 'A3'], 'B':['B0', 'B1', 'B2', 'B3']}
data_two = {'C': ['C0', 'C1', 'C2', 'C3'], 'D':['D0', 'D1', 'D2', 'D3']}

In [ ]:
one = pd.DataFrame(data_one)
two = pd.DataFrame(data_two)

In [ ]:
one

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3

In [ ]:
two

    C   D
0  C0  D0
1  C1  D1
2  C2  D2
3  C3  D3

In [ ]:
# concatnate along the columns
pd.concat([one, two], axis=1)       # combing(pasting) the column together

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [ ]:
# concatnate along the rows
pd.concat([one, two], axis=0)
# the NaN values tells us this was not a good idea to join those two together

     A    B    C    D
0   A0   B0  NaN  NaN
1   A1   B1  NaN  NaN
2   A2   B2  NaN  NaN
3   A3   B3  NaN  NaN
0  NaN  NaN   C0   D0
1  NaN  NaN   C1   D1
2  NaN  NaN   C2   D2
3  NaN  NaN   C3   D3

In [ ]:
# let's say I know that C and D are basically the same feature as A and B respectively
two.columns = one.columns

In [ ]:
my_df = pd.concat([one, two], axis=0)

In [ ]:
my_df
my_df.index = range(len(my_df))             # reset the index of the dataframe
my_df.index     
my_df

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3
4  C0  D0
5  C1  D1
6  C2  D2
7  C3  D3

In [1]:
import numpy as np

ModuleNotFoundError: No module named 'numpy'