## Data Frames

###### * A DataFrame is a table of columns and rows in pandas that we can easily restructure and filter
###### * Formal Definition: A group of Pandas Series objects that share the same index

##### Multiple data shares the same index

In [1]:
import numpy as np
import pandas as pd

In [3]:
np.random.seed(101)
my_data = np.random.randint(0, 101, (4, 3))

In [4]:
my_data

array([[95, 11, 81],
       [70, 63, 87],
       [75,  9, 77],
       [40,  4, 63]])

In [5]:
my_index   = ['CA', 'NY', 'AZ', 'TX']
my_columns = ['Jan', 'Feb', 'Mar']

In [12]:
df = pd.DataFrame(data=my_data, index=my_index, columns=my_columns)     # the pd.DataFrame(data, index, columns)

In [13]:
df

    Jan  Feb  Mar
CA   95   11   81
NY   70   63   87
AZ   75    9   77
TX   40    4   63

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, CA to TX
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Jan     4 non-null      int64
 1   Feb     4 non-null      int64
 2   Mar     4 non-null      int64
dtypes: int64(3)
memory usage: 128.0+ bytes